@model todo_domain_entities.EntitiesBL.TodoItemBL

<h2>@TempData["Title"]</h2>
<form method="post">
    <p>
        <label>Title:</label><br />
        <input type="text" name="title" value="@Model.Title" />
    </p>
    <p>
        <label>Description:</label><br />
        <input type="text" name="description" value="@Model.Description" />
    </p>
    <p>
        <label>Due date:</label><br />
        <input type="datetime" name="datetime" value="@Model.DuetoDateTime" />
    </p>
    <p>
        @using todo_aspnetmvc_ui.Models
        <select name="status" value="@Model.Status" >
            <option value="@TodoItemStatus.Completed">Completed</option>
            <option value="@TodoItemStatus.InProgress">In progress</option>
            <option value="@TodoItemStatus.NotStarted">Not started</option>
        </select>
    </p>
    <input type="submit" value="Send" />
</form>
