@using todo_aspnetmvc_ui.ViewModels
@using todo_aspnetmvc_ui.Models

@model IndexViewModel

<!--Header-->
<nav class="navbar navbar-light bg-light header" id="header">
    <div class="container-fluid">
        <div class="links">
            <a class="navbar-brand links" href="/">TODOCKER</a>
        </div>
        <div class="control">
            <div class="custom-control custom-switch">
                <label class="custom-control-label" for="customSwitch1">Light Mode</label>
                <input checked="" type="checkbox" class="custom-control-input" id="customSwitch1">
            </div>
            <div class="bell">
                <span class="material-symbols-outlined">
                    notifications
                </span>
            </div>
            <div class="user">
                <img class="user" src="~/Media/beared-guy02-min.jpg" />
                <div class="info">
                    <p class="name">Mikita Lis</p>
                    <p class="title">.Net Developer</p>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--Side menu-->
<div class="side-menu">
    <div class="workspace-side-menu">
        <div class="title-workspace-side-menu">
            <div class="header-title-workspace-side-menu">
                <span class="header-title-workspace-side-menu">My Workspace</span>
            </div>
        </div>
        <div class="menu-workspace-side-menu">
            <div class="help-menu-workspace-side-menu">
                <div class="title-help-menu-workspace-side-menu">
                    <p class="title-help-menu-workspace-side-menu">
                        To-do lists
                    </p>
                </div>
                <div class="three-dotz-help-menu-workspace-side-menu">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLists1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="material-symbols-outlined three-dotz-help-menu-workspace-side-menu">
                                more_horiz
                            </span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownLists1">
                            <li><a class="dropdown-item" href="#">Show hidden</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills flex-column">
                @foreach (var item in Model.TodoLists)
                {
                    <li class="spreadsheets">
                        <div class="messages-spreadsheets">
                            <div class="item-messages-spreadsheets">
                                <div class="status-item-messages-spreadsheets">
                                    <form method="get" class="eye-status-item-messages-spreadsheets">
                                        <button type="submit" value="Send" asp-controller="Home" asp-action="Index" class="eye-status-item-messages-spreadsheets">
                                            <span class="material-symbols-outlined eye-status-item-messages-spreadsheets">
                                                visibility
                                            </span>
                                        </button>
                                    </form>
                                    <a href="/@item.Id" class="nav-link link-dark status-item-messages-spreadsheets">
                                        <label id="todoList @item.Id">
                                            @item.Title
                                        </label>
                                    </a>
                                </div>
                                <div class="three-dotz-item-messages-spreadsheets">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownList1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="material-symbols-outlined three-dotz-item-messages-spreadsheets">
                                                more_horiz
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownList1">
                                            <li><a class="dropdown-item" href="#">Hide</a></li>
                                            <li><a class="dropdown-item" href="/copy/@item.Id">Copy</a></li>
                                            <li><a class="dropdown-item" href="/delete/@item.Id">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <div class="create">
                <div class="spreadsheets-create">
                    <div class="messages-spreadsheets-create">
                        <form method="post" class="item-messages-spreadsheets">
                            <button type="submit" value="Send" asp-controller="Home" asp-action="AddList" class="btn item-messages-spreadsheets-create">
                                Create new
                                <div class="plus-circle-item-messages-spreadsheets-create">
                                    <span class="material-symbols-outlined plus-circle-item-messages-spreadsheets-create">
                                        add_circle
                                    </span>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Main image-->
<div class="img-main">
    <figure>
        <img src="Media/rectangle-main.jpg" />
    </figure>
</div>

<!--Main page-->
<div class="main">
    <div class="header-main">
        <div style="padding-bottom: 10px;">
            <form method="post" asp-controller="Home" asp-action="ChangeList" onchange="ChangeTitleTodoList('todoList @ViewBag.Id', 'listTitle')" target="ChangeList">
                <textarea name="title" id="listTitle" class="title-header-main" onchange="this.form.submit()">@Model.TodoLists.First(x => x.Id == ViewBag.Id).Title</textarea>
                <textarea name="description" class="description-header-main" onchange="this.form.submit()">@Model.TodoLists.First(x => x.Id == ViewBag.Id).Description</textarea>
                <input type="hidden" value="@ViewBag.Id" name="id" />
            </form>
        </div>
        <div class="progress">
            @{
                string precentProgressBar = "0.00";
                double countNoDone = 0;
                double countTask = 0;
            }
            @foreach (var item in Model.TodoItems)
            {
                if (item.Status != TodoItemStatus.Completed)
                {
                    countNoDone++;
                }

                countTask++;
            }
            @{
                if (countTask != 0)
                {
                    precentProgressBar = String.Format("{0:N2}", countNoDone * 100 / countTask);
                }
            }
            <div class="progress-bar" role="progressbar" style="width: @precentProgressBar%;" aria-valuenow="@precentProgressBar" aria-valuemin="0" aria-valuemax="100" id="progressBar">
                @precentProgressBar%
            </div>
        </div>
    </div>
    <div class="table-main">
        <div class="settings-table-main">
            <div style="padding-top: 5px;">
                <form method="post">
                    <button class="btn item-buttons-settings-table-main" type="submit" style="display: flex;" value=" Send" asp-controller="Home" asp-action="AddItem">
                        <div style="padding-right: 5px; padding-top: 1px;">
                            <span class="material-symbols-outlined " style="font-size: 19px;">
                                add_circle
                            </span>
                        </div>
                        Create new
                    </button>
                    <input type="hidden" name="id" value="@ViewBag.Id" />
                </form>
            </div>
            <div style="display: contents;">
                <form method="get" asp-controller="Home" asp-action="Filter" style="display: contents;">
                    <div>
                        <select class="form-select item-buttons-settings-table-main b-0" name="sortBy" onchange="this.form.submit();" id="sortBy">
                            <option value="@ViewBag.Sort" hidden selected>Sort By: @ViewBag.Sort</option>
                            <option value="order">Sort By: order</option>
                            <option value="title">Sort By: title</option>
                            <option value="description">Sort By: description</option>
                            <option value="duedate">Sort By: due date</option>
                            <option value="createdate">Sort By: creation date</option>
                            <option value="status">Sort By: status</option>
                        </select>
                    </div>
                    <div>
                        <select class="form-select item-buttons-settings-table-main b-0" name="groupBy" onchange="this.form.submit();" id="groupBy">
                            <option value="@ViewBag.Group" hidden selected>Group By: @ViewBag.Group</option>
                        </select>
                    </div>
                    <div>
                        <select class="form-select item-buttons-settings-table-main b-0" name="filterBy" onchange="this.form.submit();" id="filterBy">
                            <option value="@ViewBag.Filter" hidden selected>Filter By: @ViewBag.Filter</option>
                            <option value="all">Filter By: all</option>
                            <option value="completed">Filter By: completed</option>
                            <option value="inProgress">Filter By: in progress</option>
                            <option value="notStarted">Filter By: not started</option>
                        </select>
                    </div>
                    <input type="number" value="@ViewBag.Id" name="id" hidden />
                </form>
            </div>
        </div>
        <table class="table border-top border-bottom" id="table">
            <thead>
                <tr>
                    <th scope="col" id="col-numer"></th>
                    <th scope="col" id="col-done">Done</th>
                    <th scope="col" id="col-title">Title</th>
                    <th scope="col" id="col-description">Description</th>
                    <th scope="col" id="col-due-date">Due Date</th>
                    <th scope="col" id="col-create-date">Creation Date</th>
                    <th scope="col" id="col-status">Status</th>
                    <th scope="col" id="col-dotz"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model.TodoItems)
                {
                    <tr>
                        <td id="col-numer" scope="row">@i</td>
                        <form method="post" asp-controller="Home" asp-action="ChangeItem" target="ChangeItem">
                        <td id="col-done">
                            <div class="form-check checkbox-table-main">
                                    @{
                                        string check = "";

                                        if (item.Status == TodoItemStatus.Completed)
                                        {
                                            check = "checked";
                                        }
                                    }
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault @item.Id" onchange="ChangeStatus('flexCheckDefault @item.Id', 'selectMenuButton1 @item.Id');" @check>
                            </div>
                        </td>
                        <td id="col-title">
                                @{
                                    string styleClass = "";
                                    if (item.Status == TodoItemStatus.Completed)
                                    {
                                        styleClass = "title-table";
                                    }
                                }
                            <textarea name="title" class="b-0 textarea-table @styleClass" onchange="this.form.submit()" id="textareaTitle @item.Id">@item.Title</textarea>
                        </td>
                        <td id="col-description">
                            <textarea name="description" class="b-0 textarea-table" style="width: 100%;" onchange="this.form.submit()">@item.Description</textarea>
                        </td>
                        <td id="col-due-date">
                            <input type="date" data-date="" data-date-format="DD MMMM YYYY" value="@item.DuetoDateTime.ToString("yyyy-MM-dd")" id="datetime" name="datetime" onchange="this.form.submit()">
                        </td>
                        <td id="col-create-date">@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                        <td id="col-status">
                            <div class="form-floating select">
                                <select class="form-select b-r-4" name="status" onchange="this.form.submit(); ChangeDone('flexCheckDefault @item.Id', 'selectMenuButton1 @item.Id', 'textareaTitle @item.Id', 'progressBar', '@countTask');" id="selectMenuButton1 @item.Id">
                                        @{
                                            string select = "";
                                            if (item.Status == TodoItemStatus.Completed)
                                            {
                                                select = "Completed";
                                            }
                                            else if (item.Status == TodoItemStatus.InProgress)
                                            {
                                                select = "In Progress";
                                            }
                                            else if (item.Status == TodoItemStatus.NotStarted)
                                            {
                                                select = "Not Started";
                                            }
                                        }
                                    <option value="@item.Status" hidden selected>@select</option>
                                    <option value="@TodoItemStatus.Completed">Completed</option>
                                    <option value="@TodoItemStatus.InProgress">In Progress</option>
                                    <option value="@TodoItemStatus.NotStarted">Not Started</option>
                                </select>
                            </div>
                        </td>
                        <input type="hidden" value="@item.Id" name="id" />
                        </form>
                        <td id="col-dotz">
                            <button class="btn btn-secondary dropdown-toggle col-dotz" type="button" id="dropdownListTable" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined col-dotz">
                                    more_horiz
                                </span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownListTable">
                                <li><a class="dropdown-item" href="/delete/item/@ViewBag.Id/@item.Id">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                    {
                        i++;
                    }
                }
            </tbody>
        </table>
        <div class="create-table-main">
            <div>
                <form method="post">
                    <button class="btn item-buttons-settings-table-main" type="submit" style="display: flex;" value=" Send" asp-controller="Home" asp-action="AddItem">
                        <div style="padding-right: 5px; padding-top: 1px;">
                            <span class="material-symbols-outlined " style="font-size: 19px;">
                                add_circle
                            </span>
                        </div>
                        Create new
                    </button>
                    <input type="hidden" name="id" value="@ViewBag.Id" />
                </form>
            </div>
        </div>
    </div>
    <iframe name="ChangeList" id="ChangeList" style="display: none;"></iframe>
    <iframe name="ChangeItem" id="ChangeItem" style="display: none;"></iframe>
</div>
