@using todo_aspnetmvc_ui.ViewModels
@using todo_aspnetmvc_ui.Models

@model IndexViewModel

<!--Header-->
<nav class="navbar navbar-light header" id="header">
    <div class="container-fluid">
        <div class="links">
            <a class="navbar-brand links" href="/" id="headerA">TODOCKER</a>
        </div>
        <div class="control">
            <div class="custom-control custom-switch">
                @{
                    string mode = "";
                    if(Model.User.Mode)
                    {
                        mode = "checked";
                    }
                }
                <input type="checkbox" class="custom-control-input" id="customSwitch1" onchange="ChangeStyle();" onclick="ChangeMode();" @mode>
                <label class="custom-control-label" for="customSwitch1" id="labelCustomSwitch1">Light Mode</label>
                <a href="/mode/@ViewBag.Id&@Model.User.Id" id="mode" hidden></a>
            </div>
            <div class="bell">
                <span class="material-symbols-outlined">
                    notifications
                </span>
            </div>
            <div class="user dropdown">
                <button class="user btn btn-secondary dropdown-toggle" type="button" id="dropdownListUser" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="user" src="~/media/beared-guy02-min.jpg" />
                    <div class="info">
                        <p class="name" id="headerName">@Model.User.Name</p>
                        <p class="title">@Model.User.Email</p>
                    </div>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownListUser">
                    <li><a class="dropdown-item">Account</a></li>
                    <li><a class="dropdown-item" href="/Account/Logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--Side menu-->
<div class="side-menu" id="sideMenu">
    <div class="workspace-side-menu">
        <div class="title-workspace-side-menu">
            <div class="header-title-workspace-side-menu">
                <span class="header-title-workspace-side-menu">My Workspace</span>
            </div>
        </div>
        <div class="menu-workspace-side-menu">
            <div class="help-menu-workspace-side-menu">
                <div class="title-help-menu-workspace-side-menu">
                    <p class="title-help-menu-workspace-side-menu">
                        To-do lists
                    </p>
                </div>
                <div class="three-dotz-help-menu-workspace-side-menu">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLists1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="material-symbols-outlined three-dotz-help-menu-workspace-side-menu">
                                more_horiz
                            </span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownLists1">
                            <li><a class="dropdown-item" onclick="ShowHidden('spreadsheets');">Show hidden</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills flex-column">
                @foreach (var item in Model.TodoLists.OrderBy(x => x.IsHidden) ?? Enumerable.Empty<TodoListModel>())
                {
                    string hidden = "";
                    string icon = "visibility";
                    string liDrop = "Hide";
                    if (item.IsHidden == true)
                    {
                        hidden = "hidden";
                        icon = "visibility_off";
                        liDrop = "Show";
                    }
                    <li class="spreadsheets" id="li @item.Id" @hidden>
                        <div class="messages-spreadsheets">
                            <div class="item-messages-spreadsheets">
                                <div class="status-item-messages-spreadsheets">
                                    <form method="get" class="eye-status-item-messages-spreadsheets">
                                        <button type="submit" value="Send" asp-controller="Home" asp-action="Index" class="eye-status-item-messages-spreadsheets">
                                            <span class="material-symbols-outlined eye-status-item-messages-spreadsheets" id="span @item.Id">
                                                @icon
                                            </span>
                                        </button>
                                    </form>
                                    <a href="/@item.Id" class="nav-link link-dark status-item-messages-spreadsheets">
                                        <label id="todoList @item.Id" style="margin: 0px;" class="c-a">
                                            @item.Title
                                        </label>
                                    </a>
                                </div>
                                <div class="three-dotz-item-messages-spreadsheets">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle drop-list" type="button" id="dropdownList1 @item.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="material-symbols-outlined three-dotz-item-messages-spreadsheets">
                                                more_horiz
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownList1">
                                            <li><a class="dropdown-item" onclick="HideList('li @item.Id', 'input @item.Id', 'span @item.Id', 'liDrop @item.Id');" id="liDrop @item.Id">@liDrop</a></li>
                                            <li><a class="dropdown-item" href="/copy/@item.Id">Copy</a></li>
                                            <li><a class="dropdown-item" href="/delete/@item.Id">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/hidden/@item.Id" id="input @item.Id" hidden></a>
                    </li>
                }
            </ul>
            <div class="create">
                <div class="spreadsheets-create">
                    <div class="messages-spreadsheets-create">
                        <form method="post" class="item-messages-spreadsheets">
                            <button type="submit" value="Send" asp-controller="Home" asp-action="AddList" class="btn item-messages-spreadsheets-create">
                                Create new
                                <div class="plus-circle-item-messages-spreadsheets-create">
                                    <span class="material-symbols-outlined plus-circle-item-messages-spreadsheets-create">
                                        add_circle
                                    </span>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Main image-->
<div class="img-main">
    <figure>
        <img src="media/rectangle-main.jpg" />
    </figure>
</div>

<!--Main page-->
<div class="main">
    <div class="header-main">
        <div style="padding-bottom: 10px;">
            @{
                var firstList = @Model.TodoLists.FirstOrDefault(x => x.Id == ViewBag.Id);
                string headerTitle = "";
                string headerDescription = "";
                if (firstList != null)
                {
                    headerTitle = firstList.Title;
                    headerDescription = firstList.Description;
                }
            }
            <form method="post" asp-controller="Home" asp-action="ChangeList" onchange="ChangeTitleTodoList('todoList @ViewBag.Id', 'listTitle')" target="ChangeList">
                <textarea name="title" id="listTitle" class="title-header-main" onchange="this.form.submit()" minlength="3" maxlength="50">@headerTitle</textarea>
                <textarea name="description" id="listDescription" class="description-header-main" onchange="this.form.submit()" maxlength="500">@headerDescription</textarea>
                <input type="hidden" value="@ViewBag.Id" name="id" />
            </form>
        </div>
        <div class="progress" id="progress">
            @{
                string precentProgressBar = "0.00";
                double countNoDone = 0;
                double countTask = 0;
            }
            @foreach (var item in Model.TodoItems ?? Enumerable.Empty<TodoItemModel>())
            {
                if (item.Status == TodoItemStatus.Completed)
                {
                    countNoDone++;
                }

                countTask++;
            }
            @{
                if (countTask != 0)
                {
                    precentProgressBar = String.Format("{0:N2}", countNoDone * 100 / countTask);
                }
                precentProgressBar = "0";
                countNoDone = 0;
            }
            <div class="progress-bar" role="progressbar" style="width: @precentProgressBar%;" aria-valuenow="@precentProgressBar" aria-valuemin="0" aria-valuemax="100" id="progressBar">
                @precentProgressBar%
            </div>
        </div>
    </div>
    <div class="table-main" id="tableMain">
        <div class="settings-table-main" >
            <div>
                <form method="post">
                    <button id="createNew"  class="btn item-buttons-settings-table-main" type="submit" style="display: flex;" value=" Send" asp-controller="Home" asp-action="AddItem">
                        <div style="padding-right: 5px; padding-top: 1px;">
                            <span class="material-symbols-outlined " style="font-size: 19px;" id="addCircle1">
                                add_circle
                            </span>
                        </div>
                        Create new
                    </button>
                    <input type="hidden" name="id" value="@ViewBag.Id" />
                </form>
            </div>
            <div style="display: contents;">
                <form method="get" asp-controller="Home" asp-action="Filter" style="display: contents;">
                    <div>
                        <select class="form-select item-buttons-settings-table-main b-0" name="sortBy" onchange="this.form.submit();" id="sortBy">
                            <option value="order" hidden selected>Sort By:</option>
                            <option value="order">Sort By: order</option>
                            <option value="title">Sort By: title</option>
                            <option value="description">Sort By: description</option>
                            <option value="duedate">Sort By: due date</option>
                            <option value="createdate">Sort By: creation date</option>
                            <option value="status">Sort By: status</option>
                        </select>
                    </div>
                    <div>
                        <select class="form-select item-buttons-settings-table-main b-0" name="groupBy" onchange="this.form.submit();" id="groupBy">
                            <option value="groupBy" hidden selected>Group By:</option>
                        </select>
                    </div>
                    <div>
                        <select class="form-select item-buttons-settings-table-main b-0" name="filterBy" onchange="this.form.submit();" id="filterBy">
                            <option value="all" hidden selected>Filter By:</option>
                            <option value="all">Filter By: all</option>
                            <option value="completed">Filter By: completed</option>
                            <option value="inProgress">Filter By: in progress</option>
                            <option value="notStarted">Filter By: not started</option>
                        </select>
                    </div>
                    <input type="number" value="@ViewBag.Id" name="id" hidden />
                </form>
            </div>
        </div>
        <table class="table border-top border-bottom" id="table">
            <thead>
                <tr>
                    <th scope="col" id="col-numer"></th>
                    <th scope="col" id="col-done">Done</th>
                    <th scope="col" id="col-title">Title</th>
                    <th scope="col" id="col-description">Description</th>
                    <th scope="col" id="col-due-date">Due Date</th>
                    <th scope="col" id="col-create-date">Creation Date</th>
                    <th scope="col" id="col-status">Status</th>
                    <th scope="col" id="col-dotz"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model.TodoItems ?? Enumerable.Empty<TodoItemModel>())
                {
                    <tr>
                        <td id="col-numer" class="c" scope="row">@i</td>
                        <form method="post" asp-controller="Home" asp-action="ChangeItem" target="ChangeItem">
                        <td id="col-done">
                            <div class="form-check checkbox-table-main">
                                    @{
                                        string check = "";

                                        if (item.Status == TodoItemStatus.Completed)
                                        {
                                            check = "checked";
                                        }
                                    }
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault @item.Id" onchange="ChangeStatus('flexCheckDefault @item.Id', 'selectMenuButton1 @item.Id');" @check>
                            </div>
                        </td>
                        <td id="col-title">
                                @{
                                    string styleClass = "";
                                    if (item.Status == TodoItemStatus.Completed)
                                    {
                                        styleClass = "title-table";
                                    }
                                }
                            <textarea name="title" class="b-0 c b-c-i textarea-table @styleClass" onchange="this.form.submit()" id="textareaTitle @item.Id">@item.Title</textarea>
                        </td>
                        <td id="col-description">
                            <textarea name="description" class="b-0 c b-c-i textarea-table" style="width: 100%;" onchange="this.form.submit()">@item.Description</textarea>
                        </td>
                        <td id="col-due-date">
                            <input type="date" class="b-c-i c" data-date="" data-date-format="DD MMMM YYYY" value="@item.DuetoDateTime.ToString("yyyy-MM-dd")" id="datetime" name="datetime" onchange="this.form.submit()">
                        </td>
                        <td id="col-create-date" class="c">@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                        <td id="col-status">
                            <div class="form-floating select">
                                <select class="form-select b-r-4 b-c-i c status-progress" name="status" onchange="this.form.submit(); ChangeDone('flexCheckDefault @item.Id', 'selectMenuButton1 @item.Id', 'textareaTitle @item.Id', 'progressBar', '@countTask');" id="selectMenuButton1 @item.Id">
                                        @{
                                            string select = "";
                                            if (item.Status == TodoItemStatus.Completed)
                                            {
                                                select = "Completed";
                                            }
                                            else if (item.Status == TodoItemStatus.InProgress)
                                            {
                                                select = "In Progress";
                                            }
                                            else if (item.Status == TodoItemStatus.NotStarted)
                                            {
                                                select = "Not Started";
                                            }
                                        }
                                    <option value="@item.Status" hidden selected>@select</option>
                                    <option class="c-b" value="@TodoItemStatus.Completed">Completed</option>
                                    <option class="c-b" value="@TodoItemStatus.InProgress">In Progress</option>
                                    <option class="c-b" value="@TodoItemStatus.NotStarted">Not Started</option>
                                </select>
                            </div>
                        </td>
                        <input type="hidden" value="@item.Id" name="id" />
                        </form>
                        <td id="col-dotz">
                            <button class="btn btn-secondary dropdown-toggle col-dotz" type="button" id="dropdownListTable" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined col-dotz">
                                    more_horiz
                                </span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownListTable">
                                <li><a class="dropdown-item" href="/delete/item/@ViewBag.Id/@item.Id">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                    {
                        i++;
                    }
                }
            </tbody>
        </table>
        <div class="create-table-main">
            <div>
                <form method="post">
                    <button id="createNew" class="btn item-buttons-settings-table-main" type="submit" style="display: flex;" value=" Send" asp-controller="Home" asp-action="AddItem">
                        <div style="padding-right: 5px; padding-top: 1px;">
                            <span class="material-symbols-outlined " style="font-size: 19px;" id="addCircle2">
                                add_circle
                            </span>
                        </div>
                        Create new
                    </button>
                    <input type="hidden" name="id" value="@ViewBag.Id" />
                </form>
            </div>
        </div>
    </div>
    <iframe name="ChangeList" id="ChangeList" style="display: none;"></iframe>
    <iframe name="ChangeItem" id="ChangeItem" style="display: none;"></iframe>
</div>
